@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Lato;
  src: url(./assets/fonts/Lato-Regular.ttf);
}

html {
  height: 100%;
}

body {
  height: 100%;
  color: black;
}

#root {
  height: 100%;
  font-family: Lato, Avenir, Helvetica, Arial, sans-serif;
}